/* Global Styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: #ffffff;
  background: #000000;
  animation: fade-in 2s;
}
header {
  background: #695acd;
  padding: 20px;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header nav ul li {
  margin-right: 30px;
}

header nav ul li:last-child {
  margin-right: 0;
}

header nav a {
  color: #fff;
  text-decoration: none;
  transition: color 0.2s ease;
  margin-right: 30px;
}

header nav a:hover {
  color: #ccc;
}
header a {
  margin-right: 2rem;
}

header a:last-child {
  margin-right: 0;
}
header a:hover {
  color: #ccc;
}

header img {
  width: 50px;
  height: auto;
  margin-right: 1rem;
  animation: spin 4s;
}

footer {
  background: #695acd;
  padding: 10px;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #ffffff;
}

footer a {
  color: #0c1ff1;
  text-decoration: none;
}

footer a:hover {
  color: #ccc;
}

/* HomePage Styles */
#home {
  background: #000;
  padding: 2rem;
  margin: 2rem 0;
  /* border-radius: 1rem; */
  /* box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2); */
  animation: fade-in 2s;
}
.img-fluid {
  width: 100%;
}
.img-services {
  width: 100%;
}

#home h2 {
  color: #fff;
  margin-top: 0;
}

#home p {
  color: #fff;
  margin-bottom: 1rem;
}

#home ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#home li {
  margin-bottom: 1rem;
}

#home a {
  color: #fff;
  text-decoration: none;
}

#home a:hover {
  color: #ccc;
}

/* Careers Styles */
#careers {
  padding: 2rem;
  margin: 2rem 0;
  animation: fade-in 2s;
}
#careers h1 {
  font-size: 100px;
  color: #695acd;
  margin-left: -20px;
  margin-top: -50px;
}
#careers h2 {
  color: #000000;
  margin-top: 0;
  font: bold;
}

#careers p {
  color: #000000;
  margin-bottom: 1rem;
}

#careers ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#careers li {
  margin-bottom: 1rem;
}

#careers a {
  color: #341efccf;
  text-decoration: none;
}

#careers a:hover {
  color: #ccc;
}

/* BlogNews Styles */
#blog-news {
  padding: 2rem;
  margin: 2rem 0;
  animation: fade-in 2s;
}
#blog-news h1 {
  color: #695acd;
  font-size: 100px;
}
#blog-news h2 {
  color: #000000;
  margin-top: 0;
}

#blog-news p {
  color: #000000;
  margin-bottom: 2rem;
}

#blog-news ul {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 1rem;
}

#blog-news li {
  margin-bottom: 1rem;
}
/* About Us Styles */
#about-us {
  padding: 20px;
  animation: fade-in 2s;
}

#about-us h2 {
  margin-top: 0;
}

#about-us ul {
  margin-top: 20px;
}

#about-us li {
  margin-bottom: 10px;
}

/* services styles */
#services {
  animation: fade-in 2s;
  padding: 20px;
  width: 100%;
  background-position: center;
  background-image: url(services-available.webp);
  background-size: cover;
  background-position: center;
  opacity: 0.7;
  color: #000000;
}

#services h2 {
  margin-top: 0;
}

#services ul {
  margin-top: 20px;
}

#services li {
  margin-bottom: 10px;
}

/* ContactUs Styles */
#contact-us {
  background-image: url("contact.jpeg");
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  padding: 20px;
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  animation: fade-in 2s;
}

#contact-us h2 {
  margin-top: 0;
  color: #fff;
}

#contact-us form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#contact-us ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#contact-us label {
  display: block;
  margin-bottom: 10px;
  color: #fff;
}

#contact-us input,
textarea {
  padding: 10px;
  margin-bottom: 20px;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
}

#contact-us input[type="submit"] {
  background-color: #337ab7;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
}

#contact-us input[type="submit"]:hover {
  background-color: #23527c;
}

/* Animations */

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slide-in {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes slide-up {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}

/* Responsive Styles */

@media (max-width: 768px) {
  #contact-us {
    flex-direction: column;
    align-items: center;
  }
  #contact-us form {
    width: 100%;
  }
  #contact-us input,
  textarea {
    width: 100%;
  }
  header {
    flex-direction: column;
    align-items: center;
  }
  header nav {
    flex-direction: column;
    align-items: center;
  }
  footer {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 480px) {
  #contact-us {
    padding: 1rem;
  }
  #contact-us form {
    padding: 1rem;
  }
  #contact-us input,
  textarea {
    padding: 0.5rem;
  }
  header {
    padding: 1rem;
  }
  header nav {
    padding: 1rem;
  }
  footer {
    padding: 0.5rem;
  }
}
